apiVersion: apps/v1
kind: Deployment
metadata:
  name: driver
spec:
  replicas: 1
  selector:
    matchLabels:
      app: driver
  template:
    metadata:
      labels:
        app: driver
    spec:
      containers:
      - name: driver
        image: lastmile/driver:latest
        ports:
        - containerPort: 50051

---

apiVersion: v1
kind: Service
metadata:
  name: driver
spec:
  selector:
    app: driver
  ports:
    - protocol: TCP
      port: 50051
      targetPort: 50051
  type: ClusterIP
