apiVersion: apps/v1
kind: Deployment
metadata:
  name: location
spec:
  replicas: 1
  selector:
    matchLabels:
      app: location
  template:
    metadata:
      labels:
        app: location
    spec:
      containers:
      - name: location
        image: pradyunuydarp/lastmile-location:latest
        ports:
        - containerPort: 50051

---

apiVersion: v1
kind: Service
metadata:
  name: location
spec:
  selector:
    app: location
  ports:
    - protocol: TCP
      port: 50051
      targetPort: 50051
  type: ClusterIP
