apiVersion: apps/v1
kind: Deployment
metadata:
  name: rider
spec:
  replicas: 1
  selector:
    matchLabels:
      app: rider
  template:
    metadata:
      labels:
        app: rider
    spec:
      containers:
      - name: rider
        image: pradyunuydarp/lastmile-rider:latest
        ports:
        - containerPort: 50051

---

apiVersion: v1
kind: Service
metadata:
  name: rider
spec:
  selector:
    app: rider
  ports:
    - protocol: TCP
      port: 50051
      targetPort: 50051
  type: ClusterIP
