apiVersion: apps/v1
kind: Deployment
metadata:
  name: station
spec:
  replicas: 1
  selector:
    matchLabels:
      app: station
  template:
    metadata:
      labels:
        app: station
    spec:
      containers:
      - name: station
        image: pradyunuydarp/lastmile-station:latest
        ports:
        - containerPort: 50051

---

apiVersion: v1
kind: Service
metadata:
  name: station
spec:
  selector:
    app: station
  ports:
    - protocol: TCP
      port: 50051
      targetPort: 50051
  type: ClusterIP
