apiVersion: apps/v1
kind: Deployment
metadata:
  name: trip
spec:
  replicas: 1
  selector:
    matchLabels:
      app: trip
  template:
    metadata:
      labels:
        app: trip
    spec:
      containers:
      - name: trip
        image: lastmile/trip:latest
        ports:
        - containerPort: 50051

---

apiVersion: v1
kind: Service
metadata:
  name: trip
spec:
  selector:
    app: trip
  ports:
    - protocol: TCP
      port: 50051
      targetPort: 50051
  type: ClusterIP
